html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: beige;
    height: 100%; 
    width: 100%;
    overflow-x: hidden;
}
#datasection{
    display: flex;
    width: 100%;
    height: 75vh;
    position: relative;
    margin: 25px auto; 
    box-shadow: 2px 2px 2px 2px 2px blue;
    align-items: center;
    justify-content: center;
}
#bottomnavbar{
    display: block;
    position: relative;
    background-color: chartreuse;
    overflow-x: hidden !important;
    margin: 0 auto; 
    width: 99%;
    height: 15%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.bar{
    position: absolute; 
    left: 0; 
    bottom: 0; 
    background-color: rgb(0, 183, 255); 
    transition: 0.2s all ease; 
    width: 19px;
}
